* {
margin:0;
padding:0;
box-sizing: border-box;
text-decoration: none;
list-style: none;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;


}

:root{
--color-primary: #494b4a;
--color-white:#dfdfdf;
--color-dark: #333;
--color-black: #050505;
--color-olivedrap:#6b8e23;
--color-blue:#0000ff;
--color-yellow:#ffff00;
--color-red:#ff0f00;
--color-navy:#000080;
}
.btn{
display: inline-block;
width:fit-content;
padding: 16px 30px;
background: var(--color-black);
border: 2px solid var(--color-black);
border-radius: 4px;
box-shadow: 0 0 10px rgba(0 ,0 ,0 ,0.2);
color: var(--color-yellow);
letter-spacing: .4px;
font-weight: 600;
transition: .4s ease;
animation: btnAni 1s ease forwards;
opacity: 0;
animation-delay: .2s;
background-color: ye;

}

.btn:hover{
background: transparent;
color: var(--color-black);
}
.container{
max-width: 1620px;
width: 90%;
margin: 0 auto;
display: grid;
padding: 3em;
grid-gap: 2em;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/*      start navbar*/
nav{
   width: 100%; 
   
   height: 5rem;
   position: fixed;
   left:0;
   top:0;
   z-index: 100;
   display:flex;
   place-items: center;
}
.nav-container{
display:flex;
justify-content: space-between;
align-items: center;

}
.nav-container ul{

    display: flex;
    align-items: center;
    gap: 40px;

}
.logo h3{

    font-size: 40px;
    color: var(--color-black);
    animation: logoAni 1s ease forwards;
    opacity: 0;
}
.nav-link li a{
    color: var(--color-black);
    font-size: 22px;
    transition: .4s ease;
    display: inline-block;
    animation: navaAni forwards 1s ease;
    animation-delay: calc(.2s * var(--i));
    opacity: 0;
    color: var(--color-black);
}
.nav-link li a:hover{
    color: var(--color-red);

}
nav ul li a.active {
   
    color:var(--color-red);
}


.social-link li a{
height: 35px;
width: 35px;
display: inline-flex;
align-items: center;
justify-content: center;
border: 2px solid transparent;
transform: rotate(45deg);
transition: .4s ease;
animation: socialAni forwards 1s ease;
animation-delay: calc(.2s * var(--i));
opacity: 0;

}
.social-link li a i{
transform: rotate(-45deg);
font-size: 25px;
color: var(--color-yellow);
}
.social-link li a:hover{
    border-color: var(--color-yellow);

}

    /*      end navbar*/

  
    /*      start header edit*/


header{

    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}    
.header-left{
    max-width: 650px;
    position: relative;
}
.header-left1{
     font-size: 35px;
    line-height: 1.2;
    color: var(--color-white);
    animation: h1Ani forwards 1s ease;
    opacity: 0;
    animation-delay: .2s;
    color: var(--color-black);
}
.header-left2{
    font-size: 35px;
   line-height: 1.2;
   color: var(--color-white);
   animation: h1Ani forwards 1s ease;
   opacity: 0;
   animation-delay: .2s;
}
.header-left h1{
    font-size: 35px;
    line-height: 1.2;
    color: var(--color-white);
    animation: h1Ani forwards 1s ease;
    opacity: 0;
    animation-delay: .2s;
    color: var(--color-black);

}
.header-left h3{
    font-size: 60px;
    font-weight: 600;
    color: var(--color-primary);
    margin-top: .6rem;
    animation: h3Ani forwards 1s ease;
    opacity: 0;
    animation-delay: .8s;
    color: var(--color-red);
}
.header-left p{
margin: 15px 0 30px;
line-height: 150%;
font-size: 30px;
animation: pAni forwards 1s ease;
    opacity: 0;
    animation-delay: .5s;
    color: var(--color-black);
}
.header-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-columns: auto auto;
    align-items: center;
    height: 100%;
    justify-content: space-between;

    

}
.header-right{
    position: relative;  
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
    right: -7%;
    margin-top: 5rem;
  
}
.sq-box{
    height: 100%;
    width: 100%;
    border: 15px solid var(--color-yellow);
    background-color: var(--color-black);
    box-shadow: -15px 15px 15px rgba(0 ,0 ,0 ,0.2);
    animation: sq-boxAni 1s ease forwards;
    opacity: 0;
    animation-delay: .2s;
    
}
.sq-box img{
    position: absolute;
    transform: rotate(-45deg);
    max-width: 980px;
    top: 0px;
    left: -350px;
   
    animation: imgAni 1s ease forwards;
    opacity: 0;
    animation-delay: .2s;
}
.sq-box2{
    position: absolute;
    width: 900px;
    height: 900px;
    transform: rotate(45deg);
    box-shadow: -15px 15px 15px rgba(0 ,0 ,0 ,0.2);
    border: 15px solid var(--color-yellow);
    background: var(--color-black);
    top: -26%;
    right: -60%;
    z-index: -1;
    animation: sq-box2Ani 1s ease forwards;
    opacity: 0;
    animation-delay: .2s;
}

 /*     end header edit*/
           
 
            /*     animation edit*/

@keyframes logoAni {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;

    }
}
@keyframes navaAni {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
}
@keyframes socialAni {
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }
    100%{
        transform: translateX(0px) rotate(45deg);
        opacity: 1;

    }
}
@keyframes h1Ani {
    0%{
        transform: translateY(-100px) ;
        opacity: 0;
    }
    100%{
        transform: translateY(0px) ;
        opacity: 1;

    }
}
@keyframes h3Ani {
    0%{
        transform: translateX(100px) ;
        opacity: 0;
    }
    100%{
        transform: translateX(0px) ;
        opacity: 1;

    }
}
@keyframes pAni {
    0%{
        transform: translateX(-100px) ;
        opacity: 0;
    }
    100%{
        transform: translateX(0px) ;
        opacity: 1;

    }
}
@keyframes btnAni {
    0%{
        transform: translateX(-100px) ;
        opacity: 0;
    }
    100%{
        transform: translateX(0px) ;
        opacity: 1;

    }
}
@keyframes sq-boxAni {
    0%{
        transform: scale(1.1) ;
        opacity: 0;
    }
    100%{
        transform: scale(1) ;
        opacity: 1;

    }
}
@keyframes imgAni {
    0%{
        transform: translate(180px, -300px) scale(0) rotate(-45deg) ;
        opacity: 0;
    }
    100%{
        transform: translate(0px, 0px) scale(1) rotate(-45deg) ;
        opacity: 1;

    }
}
@keyframes sq-box2Ani {
    0%{
         right:(-40%) ;
        opacity: 0;
    }
    100%{
       right: -25%;
        opacity: 1;

    }
}
@media screen and (max-width: 600px) {
    .header-left h1{
        font-size: 18px;
        line-height: 20px;
    }
    .header-left h3{
        font-size: 25px;
        font-weight: 400;
       
    }
    .header-left p{
        margin: 15px 0 30px;
        line-height: 100%;
        font-size: 15px;
        }
        .btn{
            display: inline-block;
            width:fit-content;
            padding: 4px 16px;
            border-radius: 2px;
            letter-spacing: .4px;
            font-weight: 100;
            }
            .sq-box2{
                position: absolute;
                width: 280px;
                height: 250px;
                transform: rotate(45deg);
                
                border: 5px solid var(--color-yellow);
                top: 20%;
                right: -60%;
                z-index: -1;
                
            }
            .sq-box{
                
                height: 200px;
                width: 200px;
                border: 5px solid var(--color-yellow);
                
                position: absolute;
                top: 30%;
            }
            .sq-box img{
                position: absolute;
                transform: rotate(-45deg);
                max-width: 380px;
                top: 40%;
                left: -125px;
            }
            .header-right{
                position: relative;  
                width: 350px;
                height: 350px;
                transform: rotate(45deg);
                right: -57%;
                margin-top: 5rem;
                
              
            }
            .logo h3{
                position: absolute;
                font-size: 25px;
                top:-50px;
                left:-60px;
            }
            
            .header-left{
                max-width: 650px;
                
                position: relative;
            }
            nav{
          
                
                height: 5rem;
                position: absolute;
                left:80px;
                top:50px;
                z-index: 100;
                display:flex;
                place-items: center;
                width: 10px; 
             }
             
             .nav-container ul{
             
                 display: flex;
                 align-items: center;
                 
                 gap: 30px;
             
             }
             .nav-link li a{
                
                font-size: 13px;
                transition: .4s ease;
                display: inline-block;
                animation: navaAni forwards 1s ease;
                animation-delay: calc(.2s * var(--i));
                opacity: 0;
                
                
            }
            .social-link li a{
                height: 30px;
                width: 30px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 2px solid transparent;
                transform: rotate(45deg);
                 position: absolute;
                 top: -40px;
                
                }
                .social-link li a i{
                transform: rotate(-45deg);
                font-size: 15px;
                color: var(--color-black);
}
                .social-link li a:hover{
                 border-color: var(--color-black);

}
                
               
                }
                
                
    
    /* Styles for mobile only */
    
    nav {
        display: block;
    }

    .desktop-element {
        display: none; /* Hide specific desktop elements on mobile */
    }
   
        

            /*     animation edit*/
